TECHNEXT_BASE_URL=https://1parkvalidador.technext.com.br
TECHNEXT_TOKEN=colocar_token_no_env
TECHNEXT_USERNAME=colocar_username_no_env
TECHNEXT_PASSWORD=colocar_password_no_env
PIX_COPY_PASTE=colocar_pix_copia_e_cola_no_env
