TECHNEXT_BASE_URL=
TECHNEXT_TOKEN=
TECHNEXT_USERNAME=
TECHNEXT_PASSWORD=
PIX_COPY_PASTE=
GOOGLE_SHEETS_SPREADSHEET_ID=1UB1S_lrk5MwsapgWFFlCzdreolo41j5va8jiTdYRezU
GOOGLE_SHEETS_CLIENT_EMAIL=
GOOGLE_SHEETS_PRIVATE_KEY=
